* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.center {
	/*____NEW: задает центровку блокам____*/
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    margin-left: 41px;
}

.header__icons:not(:last-child) {
    margin-right: 33px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
}

.promo__photo {
    width: 100%;
}

.promo__h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__h2_select {
    color: #F16D7F;
}

.promo__text {
    padding-top: 16%;
}

.promo__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__item {
    height: 260px;
    width: 360px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale__item_1 {
    background-image: url(../img/Group\ 36.jpg);
	background-repeat: no-repeat;
}

.sale__item_2 {
    background-image: url(../img/Group\ 37.jpg);
 background-repeat: no-repeat;
}

.sale__item_3 {
    background-image: url(../img/Group\ 38.jpg);
	background-repeat: no-repeat;
}

.sale__top {
 display: flex;
justify-content: space-between;
}

.sale__bottom {
    background-image: url(../img/Group\ 39.jpg);
	background-repeat: no-repeat;
    height: 180px;
    background-position: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}
.fetured {
    display: flex;/* центрую текст */
    flex-direction: column;
    align-items: center;
}

.fetured_top {
font-size: 30px;
line-height: 36px;
color: #222222;
}

.fetured_bottom {
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
	margin-top: 6px;
	margin-bottom: 48px;
}

.items_blok {
	width: 360px;
	height: 580px;
}

.product_blok {
	width: 360px;
    height: 580px;
	margin-bottom: 48px;
	
	/*__Чтоб "add cart" появлялась поверх__*/
	/*_product_blok = РОДИТЕЛЬ_*/
	position: relative;
	
}

/*тень при наведении мышкой*/
.product_blok:hover{
	box-shadow: 0 6px 9px rgba(0,0,0,0.20);
}

/*Курсор на картинку = увидят "add to Cart"*/
.product_blok:hover .product_add{
	display: block;
	}

/*Курсор на картинку = Картинка темнеет*/
.product_blok:hover .product_blok_img{
	filter: brightness(40%);
}

.product_blok_text {
	margin: 25px 16px ;
}

.product_name {
font-size: 13px;
line-height: 16px;
color: #000000;
text-decoration: none;
text-transform: uppercase;
	
}

.product_descript {
	margin-top: 13px;
	margin-bottom: 18px;
	font-weight: 300;
	font-size: 16px;
	line-height: 17px;
	color: #5D5D5D;
}

.product_price {
	margin-bottom: 20px;
	font-size: 16px;
line-height: 20px;
color: #F16D7F;

}





.product_blok_img {
	width: 100%;/*если вдруг img будет другого размера*/
}

.product_add {
	font-size: 14px;
	
	color: #DF1717;
	width: 138px;
	
	height: 43px;/*_Размер 43рх = line-height, чтоб текст встал по середине кнопки_*/
	line-height: 43px;/*__Figma: 17px__ 43рх: центрую посредине__*/
	
	border: 1px solid #DF1717;
	text-align: center;
	
	/*display: block;__ Чтоб рамка была в этом строчном элементе__*/
	display: none;/*_Чтоб увидеть при наведении hover_*/
	
	
	
	/*__Чтоб "add cart" появлялась поверх__*/
	/*___Завязана на родителе product_blok через relative*/
	position: absolute;
	top: 188px;
	left: 111px;
	text-decoration: none;
	
}

/*__ЭФфеты при наведении на кнопку "Add to Cart"__*/
.product_add:hover {
	box-shadow: 0 0 20px #FFF;
	font-size: 19px;
	border-radius: 5px;
}

/*_6 картинок = в 2строки_*/
.product_blok_all {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.button_browse_all {
	text-decoration: none;
	text-align: center;
	/*margin-bottom: 95px;*/
	font-size: 16px;
	
	line-height: 47px;
	height: 47px;
	
	 
	border: 1px solid #FF6A6A;
	width: 211px;
	
	margin: 0 auto 95px auto;/*центровка кнопки*/
}

.button_browse {
	text-decoration: none;
	color: #F26376;
}

 /*стиль кнопки 'Browse All..'при наведении курсора*/
.button_browse_all:hover{
	background-color: #F16D7F;
	border: 1px solid #FF6A6A;
	color: #FFFFFF;
	
}

/*стиль кнопки 'Browse All..'при наведении курсора*/
.button_browse_all:hover .button_browse{
color: #FFFFFF;	
}



