* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.center {
	/*____NEW: задает центровку блокам____*/
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    margin-left: 41px;
}

.header__icons:not(:last-child) {
    margin-right: 33px;
}

/*скрыть 2иконки в Медиа1023.Видим в медиа767*/
.header__icons_mob{
	display: none;
}

/*Меню, кот.появл. при клике на Гамбургер*/
.nav {
	background-color: #fff;
	padding: 16px 16px 32px 32px;
	position: absolute;
	top: 75px;
	right: 0;
	width: 232px;
	 box-sizing: border-box;
	transition: right .3s;

}


/*скрыл "checkbox", видим только ГАМБУРГЕР*/
#switcher {
	display: none;

}

/*Появл./исчезн. МЕНЮ от клика наГамбургер (ч/з id="switcher")*/
	#switcher:checked ~ .nav{
		right: -232px;
		/*убрал прокрутку и фантомное поле справа*/
		width: 0;
		visibility: hidden;
		display: none;
	}

/*стиль крестика в менюГамбургера*/
.close_menu{
	padding-left: 90%;
}

/*стили для слов в МенюГамбургера*/
.nav__heading{
margin-bottom: 25px;
font-size: 16px;
line-height: 18px;
color: #000000;
}

.color-h3-menu{
text-decoration: none;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
}

/*отступ м/у блоками MAN-WOMAN-KIDS*/
.li_nodecor {
	list-style-type: none;
	margin-bottom: 20px;
	}

.nav__items{
	margin-left: 20px;
	list-style-type: none;
}

/*стиль для слов в подменю*/
.li_nolink{
text-decoration: none;
font-size: 16px;
line-height: 26px;
color: #6F6E6E;
}


.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
}

.promo__photo {
    width: 100%;
}

.promo__h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.promo__h2_select {
    color: #F16D7F;
}

.promo__text {
    padding-top: 16%;
}

.promo__content {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

/*Картинки с текстом 30%off*/
.sale__item {
    height: 260px;
    width: 360px;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-size: cover;
	
}

.sale__item_1 {
    background-image: url("../img/Group36.jpg");
	background-repeat: no-repeat;
	margin-right: 20px;
}

.sale__item_2 {
    background-image: url(../img/Group37.jpg);
 background-repeat: no-repeat;
	margin-right: 20px;
}

.sale__item_3 {
    background-image: url(../img/Group38.jpg);
	background-repeat: no-repeat;
}

.sale__top {
 display: flex;
justify-content: space-around;
}

/*стиль 4-й (длинной)картинки*/
.sale__bottom {
    background-image: url(../img/Group39.jpg);
	background-repeat: no-repeat;
    height: 180px;
    background-position: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background-size: cover;
}

.sale__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sale__heading {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}
.fetured {
    display: flex;/* центрую текст */
    flex-direction: column;
    align-items: center;
}

.fetured_top {
font-size: 30px;
line-height: 36px;
color: #222222;
}

.fetured_bottom {
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
	margin-top: 6px;
	margin-bottom: 48px;
}

.items_blok {
	width: 360px;
	height: 580px;
}

.product_blok {
	width: 360px;
    height: 580px;
	margin-bottom: 48px;
	background: #F8F8F8;
	
	/*__Чтоб карточка "add cart" появлялась поверх__*/
	/*_product_blok = РОДИТЕЛЬ_*/
	position: relative;
	
}

/*ТЕНЬ при наведении мышкой*/
.product_blok:hover{
	box-shadow: 0 6px 9px rgba(0,0,0,0.20);
}

/*Курсор на картинку = увидят "add to Cart"*/
.product_blok:hover .product_add{
	display: block;
	}



/*Курсор на картинку = Картинка темнеет*/
.product_blok:hover .product_blok_img{
	filter: brightness(40%);
}

.product_blok_text {
	margin: 25px 16px ;
}

.product_name {
font-size: 13px;
line-height: 16px;
color: #000000;
text-decoration: none;
text-transform: uppercase;
	
}

.product_descript {
	margin-top: 13px;
	margin-bottom: 18px;
	font-weight: 300;
	font-size: 16px;
	line-height: 17px;
	color: #5D5D5D;
}

.product_price {
	margin-bottom: 20px;
	font-size: 16px;
line-height: 20px;
color: #F16D7F;

}





.product_blok_img {
	width: 100%;/*если вдруг img будет другого размера*/
}

.product_add {
	font-size: 14px;
	
	color: #DF1717;
	width: 138px;
	
	height: 43px;/*_Размер 43рх = line-height, чтоб текст встал по середине кнопки_*/
	line-height: 43px;/*__Figma: 17px__ 43рх: центрую посредине__*/
	
	border: 1px solid #DF1717;
	text-align: center;
	
	padding-left: 12px;/*отступ от corzina.svg*/
	box-sizing: border-box;/*чтоб границы не разехались*/
	
	/*display: block;__ Чтоб рамка была в этом строчном элементе__*/
	display: none;/*_Чтоб увидеть при наведении hover_*/
	
	
	
	/*__Чтоб "add cart" появлялась поверх__*/
	/*___Завязана на родителе product_blok через relative*/
	position: absolute;
	top: 188px;
	left: 111px;
	text-decoration: none;
	

}

/*_____тест наа появление КОРЗИНЫ_____*/
.product_add::before{
	
content: "";
position: absolute;
left: 7px;
top: 8px;
width: 100%;
height: 100%;
background: url("../img/corzina-red.svg");
background-repeat: no-repeat;

	}

/*__ЭФфеты при наведении на кнопку "Add to Cart"__*/
.product_add:hover {
	box-shadow: 0 0 20px #FFF;
	font-size: 16px;
	border-radius: 3px;/*скургление углаов в 'AddToCart'*/
	padding-left: 20px;/*отступ от corzina.svg*/
	box-sizing: border-box;/*чтоб границы не разехались*/
}

/*_6 картинок = в 2строки_*/
.product_blok_all {
	display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
	gap:30px;
}



.button_browse_all {
	text-decoration: none;
	text-align: center;
	margin-bottom: 95px;
	font-size: 16px;
	line-height: 47px;
	height: 45px;
	border: 1px solid #EBEBEB;
	
	
	/*центровка рамки ПАГИНАЦИИ страниц*/
	margin: 0 auto 95px auto;
	width: 283px;
}

.button_browse {
	text-decoration: none;
	color: #F26376;
}

 /*стиль кнопки 'Browse All..'при наведении курсора*/
 .button_browse_all:hover{
	background-color: #F16D7F;
	border: 1px solid #FF6A6A;
	color: #FFFFFF;
	
} 

/*стиль кнопки 'Browse All..'при наведении курсора*/
.button_browse_all:hover .button_browse{
color: #FFFFFF;	
}




/*футер 1-й уровень*/
.footer_top {
	/*height: 341px;*/
	background-color:#222224; 
}

/*Блок стилей для ТРЕХ блоков:авто+%+корона*/
.footer_top_one {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	padding-top: 103px;
	padding-bottom: 104px;
	box-sizing: border-box;
}

/*Стили для блока 'МАШИНА'(подвал-верхний)*/
.footer_top_free {
	/*height: 339px;*/
	width: 360px;
	/*border: 1px solid #000;*/
}

.free_text_top {
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
	
	text-align: center;
	margin-top: 28px;
}

.free_text_bottom {
font-weight: 300;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
 width: 330px;	
margin-top: 16px;
}

.free_img {
	text-align: center;
	/*margin-top: 103px;*/
}

/*блок с ПРОЦЕНТОМ*/
.footer_top_sales {
	/*height: 339px;*/
	width: 360px;
	/*border: 1px solid #000;*/
}

/*блок с КОРОНОЙ*/
.footer_top_quality {
	/*height: 339px;*/
	width: 360px;
	/*border: 1px solid #000;*/
}

/*Стили для СРЕДНЕГО БЕЛОГО футера*/
.footer_middle_one {
	/*height: 448px;*/
	padding-bottom: 155px;
	background-image: url("../img/fon-middle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	flex-grow: 1;/*все блоки =равнозначны*/
	
}

.middle_one_left {
	width: 450px;
	/*border: 1px solid red;*/
}

.one_left_img {
	text-align: center;
	margin-top: 97px;
}

.one_left_text {
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	line-height: 24px;
	
}

.left_text_span {
	font-style: italic;
}

.middle_one_right {
	width: 450px;
	/*border: 1px solid red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}



.subs_text_bold {
 
font-weight: bold;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #222224;
}

.one_right_subs {
margin-top: 150px;
}

.subs_text {
font-style: normal;
font-size: 18px;
line-height: 30px;
text-align: center;
color: #222224;
}

.one_right_form {
	margin-top: 32px;
	
	/*для сведения вместе поля ввода"mail" + кнопка"Subscrib"*/
	display: flex;
}

.input-text-form {
height: 49px;/*высота поля e-mail*/
width: 250px;/*длинна поля e-mail*/
 
border: hidden;/*скрыл рамку поля ввода*/
background-color: #E1E1E1;
border-radius: 25px 0 0 25px;/*чтоб справа не было радиуса = завязка на кнопку*/
opacity: 0.7;

	/*стиль Placeholder*/
font-size: 16px;
padding-left: 22px;/*отступ для слова "Enter Your email" */
box-sizing: border-box;/*не дает padding' ам расширить поле ввода*/
line-height: 17px;
display: flex;
align-items: center;
color: #010101;
	
}

.knopka_subs {
	/*красная кнопка "Subscribe" */
	border-radius: 0 25px 25px 0;
	width: 100px;
	border: hidden;
	background-color: #F16D7F;
	
	/* стиль слова "Subscribe" внутри кнопки */
	font-size: 14px;
	line-height: 17px;
 	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

/*смена цвета от навадения курсора на конпку*/
.knopka_subs:hover{
background-color: #E05C6E;	
}

.left_text_brand {
 
font-size: 16px;
height: 19px;
line-height: 19px;
color: #FBFBFB;
	

}

.footer_bottom_one {
height: 80px;
background-color: #222224;
display: flex;
	justify-content: space-between;
}



/*центровка 'BrandAllRight..' от верха+слева*/
.bottom_one_left {
margin-top: 30px;
margin-left: 0px;
box-sizing: border-box;
}

/*центровка иконок от верха*/
.bottom_one_right {
margin-top: 30px;
box-sizing: border-box;
	
}

/*отступы м/у иконками соц.сетей*/
.social_link {
	margin-left: 9px;
}


/*курсор на Иконке соц.сети = смена фона в svg*/
.soc_link_hover:hover .red-1{
fill:#F16D7F;	
}

.soc_link_hover:hover .white-1{
	fill:#FFFFFF;
}

/*Меда-запрос для экрана ДО 1023рх: start*/
@media (max-width: 1023px){
.center {
	/* задает центровку блокам */
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
}	

	.promo__h1{
		font-size: 37px;
		line-height: 44px;
	}
	
	 .promo__h2{
		font-size: 24px;
		line-height: 28px;
	}

	/*Для 768рх: 3 картинки*/
	.sale__item {
    height: 167px;
    flex-grow: 1;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	}
	
	/*Длинная картинка*/
	.sale__bottom{
	height: 116px;
	}
	
	/*расстояние м/у img-карточками с товаром*/
	.product_blok_all {
	gap:16px;
}
	.product_blok {
  
  margin-bottom: 8px;
	}
	
	/*стили для футера верхнего*/
	.footer_top_one{
		flex-direction: column;
		align-items: center;
		padding-top: 48px;
		padding-bottom: 48px;
	}
	
	.free_img {
	text-align: center;
	 
}
	.free_img_media{
		padding-top: 48px;
	}
	
	.footer_middle_one {
	
	flex-wrap: wrap;
	}
	
}
/*Меда-запрос для экрана ДО 1023рх: end*/


/*Меда-запрос для экрана ДО 767рх: start*/

@media (max-width: 767px) {
  
	.center {
	/*расчет цетровки исходя из ширины экрана=425рх*/
    padding-left: calc(50% - 212px);
    padding-right: calc(50% - 212px);
  }
	
  .header__icons:not(:last-child) {
    margin-right: 8px;
  }
	
	/*Показать  ГоловаКорзина в Медиа768*/
  .header__icons_desc {
    display: none;
  }
  .header__icons_mob {
    display: block;
	  padding-right: 30px;
	  margin-bottom: 20px;
  }
	
	/*Цвет svg-иконок в Меню*/
	.icons_mob_color {
	fill:#F16D7F;
}
	
  .nav {
    width: 100%;/*ширинаМеню*/
    top: 0;
    height: 100vh;/*ВысотаМеню*/
  }
  .nav__links-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content:flex-start;
  }
	
	
  #switcher:checked ~ .nav {
    right:  -100%;
  }
	
	/*стили розового блока THE BRAND*/	
  .promo {
    height: 363px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0;
  }
	
	/*Спрятал Чела_В_Аляске*/
  .promo__img {
    display: none;
  }
	
  .sale {
    padding-bottom: 64px;
  }
  .sale__top {
	  display: flex;
    flex-direction: column;
	  align-items: center;
	  
	/*отступы м/у картинками в колонке*/
    /*row-gap: 32px;*/
  }
	
  .sale__item {
    height: 247px;
  }
	
	/*отступы м/у картинками в колонке*/
	.sale__item_1{
		margin-bottom: 32px;
	}
	.sale__item_2{
		margin-bottom: 32px;
	}
	/*Поправка положения -18рх!*/
	.sale__item_3{
		margin-left: -18px;
	}
	
  .sale__bottom {
    height: 111px;
    margin-top: 32px;
	width: 360px;
	  
	  /*Поправка положения +24рх!*/
	  margin-left: 24px;
  }
	
  .footer_top_one {
    padding-left: 14px;
    padding-right: 14px;
  }
	
	
	.bottom_one_left {
 	margin-left: 0px;
		margin-bottom: 10px;
	 	}
	.bottom_one_right{
		margin-top: 43px;
	}
	
.footer_bottom_one {
 height: 143px;
display: flex;
	/*Реверс для AllRigts и ИконкиСоцСетей*/
flex-direction: column-reverse;
	align-items: center;
}
	
	
}
/*Меда-запрос для экрана ДО 767рх: end*/


@media (max-width: 425px) {
	
  .center {
    padding-left: 8px;
    padding-right: 8px;
  }
	
	.sale__bottom{
	margin-left: 0px;
	}
	
	
}




