@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  /*____NEW: задает центровку блокам____*/
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  /*Menu:Убрал треугольник слева в FILTER*/
}

summary {
  display: block;
  outline: none;
  /*отступы для ФИЛЬТРОВ*/
}

summary::-webkit-details-marker {
  display: none;
}

.filter-sort {
  padding-top: 48px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter {
  /*стиль (для блока) слово Filter*/
  margin-right: 30px;
  margin-top: 20px;
  position: relative;
  width: 360px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  position: relative;
}


.filter__summary {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 11px;
}

.sort__summary {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.filter__details {
  padding: 13px 16px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.sort__details {
  padding: 13px 16px 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*  position: absolute;*/
  z-index: 1;
  width: 100%;
}

.filter__details[open] {
  background: #FFFFFF;
   -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); 
}

.sort__details[open] {
  background: #FFFFFF;
 /* -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);*/
}


.filter__details[open] .filter__summary {
  color: #F16D7F;
}

.sort__details[open] .sort__summary {
  color: #F16D7F;
}

.filter__details[open] path {
  fill: #F16D7F;
}

.sort__details[open] path {
  fill: #F16D7F;
}

.filter__details-in {
  margin-top: 16px;
}

.sort__details-in {
  margin-top: 16px;
}

.filter__details-in[open] .filter__heading-in {
  color: #F16D7F;
}

.sort__details-in[open] .sort__heading-in {
  color: #F16D7F;
}

.filter__summary-in {
  border-left: 5px solid #F16D7F;
}

.sort__summary-in {
  border-left: 5px solid #F16D7F;
}

.filter__heading-in {
  padding: 8px 0 11px 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
}

.sort__heading-in {
  padding: 8px 0 11px 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  color: #6F6E6E;
  border-bottom: 1px solid #EBEBEB;
}

.filter__ul {
  list-style-type: none;
  padding-left: 17px;
  padding-top: 24px;
}

.sort-checkbox {
  position: relative
}


/*вот тут я исправил*/
.sort-checkbox {
  position: relative;
  /* выпадающему списку задаем это*/
}

.sort__ul {
  position: absolute;
  /* то что выпадает задаем absolute*/
  list-style-type: none;
	
	/*отступ от заголовка меню*/
	margin-top: 5px;
	
	/*отсутпы внутри менюшки*/
  padding-left: 14px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
  background: white;
	
   /*Тени выпадающего списка*/
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.sort__ul a {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}



.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__icons:not(:last-child) {
  margin-right: 33px;
}

.promo {
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  height: 777px;
}

.promo__img {
  width: 50%;
}

.promo__photo {
  width: 100%;
}

.promo__h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}

.promo__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.promo__h2_select {
  color: #F16D7F;
}

.promo__text {
  padding-top: 16%;
}

.promo__content {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.sale {
  padding-top: 64px;
  padding-bottom: 96px;
}

.sale__item {
  height: 260px;
  width: 360px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sale__item_1 {
  background-image: url(../img/Group36.jpg);
  background-repeat: no-repeat;
}

.sale__item_2 {
  background-image: url(../img/Group37.jpg);
  background-repeat: no-repeat;
}

.sale__item_3 {
  background-image: url(../img/Group38.jpg);
  background-repeat: no-repeat;
}

.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sale__bottom {
  background-image: url(../img/Group39.jpg);
  background-repeat: no-repeat;
  height: 180px;
  background-position: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sale__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.fetured {

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* центрую текст */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.fetured_top {

  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.fetured_bottom {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
  margin-bottom: 48px;
}

.items_blok {
  width: 360px;
  height: 580px;
}

.product_blok {
  width: 360px;
  height: 580px;
  margin-bottom: 48px;
  background: #F8F8F8;
  /*__Чтоб карточка "add cart" появлялась поверх__*/
  /*_product_blok = РОДИТЕЛЬ_*/
  position: relative;
  /*ТЕНЬ при наведении мышкой*/
  /*Курсор на картинку = увидят "add to Cart"*/
  /*Курсор на картинку = Картинка темнеет*/
}

.product_blok:hover {
  -webkit-box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}

.product_blok:hover .product_add {
  display: block;
}

.product_blok:hover .product_blok_img {
  -webkit-filter: brightness(40%);
  filter: brightness(40%);
}

.product_blok_text {
  margin: 25px 16px;
}

.product_name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.product_descript {
  margin-top: 13px;
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_price {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #F16D7F;
}

.product_blok_img {
  width: 100%;
  /*если вдруг img будет другого размера*/
}

.product_add {
  font-size: 14px;
  color: #DF1717;
  width: 138px;
  height: 43px;
  /*_Размер 43рх = line-height, чтоб текст встал по середине кнопки_*/
  line-height: 43px;
  /*__Figma: 17px__ 43рх: центрую посредине__*/
  border: 1px solid #DF1717;
  text-align: center;
  padding-left: 12px;
  /*отступ от corzina.svg*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*чтоб границы не разехались*/
  /*display: block;__ Чтоб рамка была в этом строчном элементе__*/
  display: none;
  /*_Чтоб увидеть при наведении hover_*/
  /*__Чтоб "add cart" появлялась поверх__*/
  /*___Завязана на родителе product_blok через relative*/
  position: absolute;
  top: 188px;
  left: 111px;
  text-decoration: none;
  /*_____тест наа появление КОРЗИНЫ_____*/
  /*__ЭФфеты при наведении на кнопку "Add to Cart"__*/
  /*_6 картинок = в 2строки_*/
}

.product_add::before {
  content: "";
  position: absolute;
  left: 7px;
  top: 8px;
  width: 100%;
  height: 100%;
  background: url("../img/corzina-red.svg");
  background-repeat: no-repeat;
}

.product_add:hover {
  -webkit-box-shadow: 0 0 20px #FFF;
  box-shadow: 0 0 20px #FFF;
  font-size: 16px;
  border-radius: 3px;
  /*скургление углаов в 'AddToCart'*/
  padding-left: 20px;
  /*отступ от corzina.svg*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*чтоб границы не разехались*/
}

.product_blok_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.button_browse_all {
  text-decoration: none;
  text-align: center;
  margin-bottom: 95px;
  font-size: 16px;
  line-height: 47px;
  height: 45px;
  border: 1px solid #EBEBEB;
  /*центровка рамки ПАГИНАЦИИ страниц*/
  margin: 0 auto 95px auto;
  width: 283px;
}

.button_browse {
  text-decoration: none;
  color: #F26376;
  /*стиль кнопки 'Browse All..'при наведении курсора*/
  /*стиль кнопки 'Browse All..'при наведении курсора*/
  /*футер 1-й уровень*/
}

.button_browse_all:hover {
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
}

.button_browse_all:hover .button_browse {
  color: #FFFFFF;
}

.footer_top {
  height: 341px;
  background-color: #222224;
  /*Блок стилей для ТРЕХ блоков:авто+%+корона*/
  /*Стили для блока 'МАШИНА'(подвал-верхний)*/
  /*border: 1px solid #000;*/
}

.footer_top_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer_top_free {
  height: 339px;
  width: 360px;
}

.free_text_top {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin-top: 28px;
}

.free_text_bottom {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
}

.free_img {
  text-align: center;
  margin-top: 103px;
  /*блок с ПРОЦЕНТОМ*/
}

.footer_top_sales {
  height: 339px;
  width: 360px;
  /*border: 1px solid #000;*/
  /*блок с КОРОНОЙ*/
}

.footer_top_quality {
  height: 339px;
  width: 360px;
  /*border: 1px solid #000;*/
  /*Стили для СРЕДНЕГО БЕЛОГО футера*/
}

.footer_middle_one {
  height: 448px;
  background-image: url("../img/fon-middle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /*все блоки =равнозначны*/
}

.middle_one_left {
  width: 450px;
  /*border: 1px solid red;*/
}

.one_left_img {
  text-align: center;
  margin-top: 97px;
}

.one_left_text {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

.left_text_span {
  font-style: italic;
}

.middle_one_right {
  width: 450px;
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subs_text_bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.one_right_subs {
  margin-top: 150px;
}

.subs_text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.one_right_form {
  margin-top: 32px;
  /*для сведения вместе поля ввода"mail" + кнопка"Subscrib"*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-text-form {
  height: 49px;
  /*высота поля e-mail*/
  width: 250px;
  /*длинна поля e-mail*/
  border: hidden;
  /*скрыл рамку поля ввода*/
  background-color: #E1E1E1;
  border-radius: 25px 0 0 25px;
  /*чтоб справа не было радиуса = завязка на кнопку*/
  opacity: 0.7;
  /*стиль Placeholder*/
  font-size: 16px;
  padding-left: 22px;
  /*отступ для слова "Enter Your email" */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*не дает paddingам расширить поле ввода*/
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #010101;
}

.knopka_subs {
  /*красная кнопка "Subscribe" */
  border-radius: 0 25px 25px 0;
  width: 100px;
  border: hidden;
  background-color: #F16D7F;
  /* стиль слова "Subscribe" внутри кнопки */
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  /*смена цвета от навадения курсора на конпку*/
}

.knopka_subs:hover {
  background-color: #E05C6E;
}

.left_text_brand {
  font-size: 16px;
  height: 19px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_bottom_one {
  height: 80px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*центровка 'BrandAllRight..' от верха+слева*/
}

.bottom_one_left {
  margin-top: 30px;
  margin-left: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*центровка иконок от верха*/
}

.bottom_one_right {
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*отступы м/у иконками соц.сетей*/
}

.social_link {
  margin-left: 9px;
  /*курсор на Иконке соц.сети = смена фона в svg*/
}

.soc_link_hover:hover .red-1 {
  fill: #F16D7F;
}

.soc_link_hover:hover .white-1 {
  fill: #FFFFFF;
  /*Стиль для блоков в New_Arrivals*/
}

.shop_cart_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  background-color: #F8F3F4;
}

.shop_cart_left {
  margin-left: 0px;
}

.arrivals_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*убрать подчерк.ссылки + цвет текста*/
}

.arrivals_right_text {
  padding-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.shop_cart_nolink {
  text-decoration: none;
  color: #636363;
  /*наведение на слово 'New Arrivals' = смена цвета*/
  /*убрать подчерк.ссылки + цвет текста*/
}

.shop_cart_nolink:hover {
  color: #F16D7F;
  font-size: 24px;
  line-height: 30px;
}

.right_text_nolink {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /*наведение на слова 'Home/Men/New Arrivals' = смена цвета*/
}

.right_text_nolink:hover {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 0 0 0.45px #F16D7F;
}

.filter_top_one {
  height: 150px;
  /*border: 1px solid #000;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*Стили для фильтров (левый фильтр)*/
}

.filter_left_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  /*стиль для "FILTER"*/
}

.filter_left_text {
  margin-right: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  /*курсор в ОБЛАСТЬ со словом "FILTER"(1)*/
  /*курсор в ОБЛАСТЬ "FILTER"(цвет у иконки svg)(2)*/
}

.filter_left_link:hover .filter_left_text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.filter_left_link:hover .filter_buter_red {
  fill: #EF5B70;
}

.filter_right_text {
  margin-right: 15px;
  font-size: 15px;
  line-height: 20px;
  color: #6F6E6E;
}

.filter_top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*margin-left: 310px;*/
  margin-top: 20px;
}

.filter_right_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  /*Курсор в области слов Trending/size/price = смена цвета слова*/
  /*Курсор в области слов Trending/size/price = смена цвета стрелки*/
}

.filter_right_link:hover .filter_right_text {
  color: #EF5B70;
}

.filter_right_link:hover .arrow_vniz_red {
  fill: #EF5B70;
}

.shop_cart_text {
  font-size: 24px;
  line-height: 29px;
}

/*SVG файл выровнял с уровнем слова FILTER*/
.filter_buter {
  margin-top: 3px;
}

.filter_text_nolink {
  text-decoration: none;
}

.arrow_vniz_all {
  margin-top: 8px;
}

/* Стили для блока ПАГИНАЦИИ в catalog */
.pagination {
  /*конпка ПАГИНАЦИИ встает по центру*/
  margin: 0px auto 95px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  width: 283px;
  height: 43px;
  border: 1px solid #EBEBEB;
}

/*стиль для ПАГИНАЦИИ (счетчик внизу страницы)*/
.link_pag {
  text-decoration: none;
  text-decoration-padding: 0 5px 0 5px;
  text-decoration-box-sizing: border-box;
  text-decoration-font-weight: 300;
  font-size: 19px;
  line-height: 19px;
  color: #6E6C6C;
  opacity: 0.65;
}

.link_pag:hover {
  color: #F16D7F;
  font-weight: 600;
}

/*блок между ТеткаНаСтуле и 3-мя_КарточкамиТовара*/
.product_all {
  height: 610px;
}

/*# sourceMappingURL=catalog-menu.css.map */


/*стиль для отступа м/у Чекбокс и словом*/
#size-XS,
#size3-XS{
	margin-right: 6px;
}
#size-S,
#size3-S{
	margin-right: 6px;
}
#size-M,
#size3-M{
	margin-right: 6px;
}
#size-L,
#size3-L{
	margin-right: 6px;
}

/*Стили для ОбщегоБлока ЗаказаТовара*/
.reg_all {
	display: flex;
	justify-content:space-between;
}

.tovar-one {
	width: 650px;
	height: 303px;
	/*border: 1px solid #02ED1D;*/
	box-shadow: 17px 19px 24px 1px rgb(0 0 0 / 20%);
	margin-bottom: 40px;
	/*раскид по горизонту фото+текст+крестик*/
	display: flex;
}

.tovar_img {
	width: 260px;
	
	}

/*Вмещаю*/
.img_size {
	width: 100%;
}

.shop_cart {
	/*95рх отступ вниз*/
	margin-bottom: 95px;
}

.tovar_txt {
	width: 290px;
	/*border: 1px solid #000;*/
}



.tovar_name {
font-size: 24px;
line-height: 29px;
color: #222222;
box-sizing: border-box;
	padding-left: 31px;
	padding-top: 22px;
	padding-bottom: 42px;

}


.text_price {
margin-left: 31px;
	/*стиль текста покупки*/
font-size: 22px;
line-height: 26px;
color: #575757;
}

/*300$ = красным цветом выделить*/
.price_red {
	color: #F16D7F;
}

/*Стиль ОКОШКО ВВОДА QUANTITY*/
.skolko {
	resize: horizontal;
    width: 50px;
	height: 25px;
	border: 1px solid #EAEAEA;
	
	/*Стиль цифр внутри окошка ввода*/
	font-size: 18px;
	line-height: 22px;
	color: #656565;
	box-sizing: border-box;
	padding-left: 10px;
	margin-left: 24px;
}

.skolko:hover{
	border: 1px solid #33333D;
	background-color:#F1F1F1;
}

/*стиль для крестика: отступы*/
.x-close {
	margin-top: 28px;
	margin-left: 58px;
}


/*при нажатии на крестик: смена цвета*/
.x-close:active .activ-red{
fill:#F16D7F;
}

.form_text {
margin-top: 20px;
margin-bottom: -20px;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #222222;

}

.yourname {
	
	 border: 1px solid #2431C5; 

}

/*стиль АДРЕСА ДОСТАВКИ*/
.input_text {
	width: 360px;
	height: 45px;
	margin-top: 20px;
	border: 1px solid #A4A4A4;
	
	/*стиль отступов для placeholder*/
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 20px;
}

/*стиль для КНОПКА ОТПРАВКИ join now->*/
form input[type=submit] {
    width: 167px;
    height: 50px;
	border: 1px solid #A4A4A4;
	background: #FFFFFF;
}


/*нажал ОТПРАВИТЬ = мигнул красным*/
form input[type=submit]:active {
	background: #F16D7F;
	color: #FFFFFF;
}

form input[type=submit]:hover {
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}
.submit_text {
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	height: 13px;
	color: #4A4A4A;
	margin-bottom: 96px;
	}

.total {
	width: 360px;
	height: 215px;
	/*border: 1px solid #000;*/
	background: #F5F3F3;
	margin-top: 30px;
}

/*стиль слов SUBTOTAL*/
.subtot {
font-size: 11px;
line-height: 13px;
color: #4A4A4A;
text-align: right;

box-sizing: border-box;
padding-top: 40px;
padding-right: 35px;
}


/*отступ ценника от слова SUB TOTAL*/
.sub_price {
	margin-left: 15px;
}

/*стиль для слов GRAND TOTAL*/
.grandtot {
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #222222;
text-align: right;
	
box-sizing: border-box;
padding-top: 12px;
padding-right: 37px;

	margin-bottom: 20px;
}

.grand_price {
	margin-left: 15px;
	color: #F16D7F;
}

.total_hr {
	width: 275px;
	height: 1px;
	margin: 0 auto;
	
}

.submit_p {
	box-sizing: border-box;
	text-align: center;
	padding-top: 20px;
}

/*Стиль кнопки PROCEED TO CHECKOUT */
.button_check {
	width: 273px;
	height: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;;
	background-color:#F16D7F;
}

.button_check:active {
	color: #222222;
	background-color:#F27A8A;
}
.button_check:hover {
	box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}


 


/*Копка CLEAR SHOPPING CART*/
.clear_box {
	width: 235px;
	height: 50px;
	border: 1px solid #A4A4A4;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	/*отступ до другой кнопки*/
  margin-right: 175px;
  
	
}



.clear_box:hover {
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}

.clear_box:active {
background: #F16D7F;
	color: #FFFFFF;
}


/*стиль кнопки CONTINUE SHOPPING*/
.continue_box {
	width: 235px;
	height: 50px;
	border: 1px solid #A4A4A4;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

.continue_box:hover {
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}

.continue_box:active {
background: #F16D7F;
	color: #FFFFFF;
}

/*цетровка слова внутри кнопки*/
.box_text {
	padding: 18px 0 0 40px;
	box-sizing: border-box;
}

.cart_bottom {
	display: flex;
	justify-content: flex-start;
	margin-top: 235px;
	margin-bottom: 130px;
}



.yourname_text {
	width: 360px;
	
	margin-top: 16px;
	margin-bottom: 40px;
	
	font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #B1B1B1;
}

.two_check {
	margin-top: 30px;
}

.female {
	margin-left: 20px;
}

.male,
.female{
font-weight: 300;
font-size: 14px;
line-height: 14px;
color: #000000;	


/*стиль для радокнопок*/
#male,
#female{
width: 17px;
height: 17px;
border: 1px solid #A4A4A4;
 
}

/*центровка слова MALE - FEMALE посреди радиокнопки*/
.male-span{
	margin-left: 10px;
	box-sizing: border-box;
	vertical-align:text-top;
}
.female-span {
	margin-left: 10px;
	box-sizing: border-box;
	vertical-align:text-top;
}
