@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  /*____NEW: задает центровку блокам____*/
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  /*Menu:Убрал треугольник слева в FILTER*/
}




.header {
  background: #222222;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__search {
  margin-left: 41px;
}

.header__icons:not(:last-child) {
  margin-right: 33px;
}




.button_browse_all {
  text-decoration: none;
  text-align: center;
  margin-bottom: 95px;
  font-size: 16px;
  line-height: 47px;
  height: 45px;
  border: 1px solid #EBEBEB;
  /*центровка рамки ПАГИНАЦИИ страниц*/
  margin: 0 auto 95px auto;
  width: 283px;
}

.button_browse {
  text-decoration: none;
  color: #F26376;
  /*стиль кнопки 'Browse All..'при наведении курсора*/
  /*стиль кнопки 'Browse All..'при наведении курсора*/
  /*футер 1-й уровень*/
}

.button_browse_all:hover {
  background-color: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
}

.button_browse_all:hover .button_browse {
  color: #FFFFFF;
}

.footer_top {
  height: 341px;
  background-color: #222224;
  /*Блок стилей для ТРЕХ блоков:авто+%+корона*/
  /*Стили для блока 'МАШИНА'(подвал-верхний)*/
  /*border: 1px solid #000;*/
}

.footer_top_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer_top_free {
  height: 339px;
  width: 360px;
}

.free_text_top {
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin-top: 28px;
}

.free_text_bottom {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
}

.free_img {
  text-align: center;
  margin-top: 103px;
  /*блок с ПРОЦЕНТОМ*/
}

.footer_top_sales {
  height: 339px;
  width: 360px;
  /*border: 1px solid #000;*/
  /*блок с КОРОНОЙ*/
}

.footer_top_quality {
  height: 339px;
  width: 360px;
  /*border: 1px solid #000;*/
  /*Стили для СРЕДНЕГО БЕЛОГО футера*/
}

.footer_middle_one {
  height: 448px;
  background-image: url("../img/fon-middle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /*все блоки =равнозначны*/
}

.middle_one_left {
  width: 450px;
  /*border: 1px solid red;*/
}

.one_left_img {
  text-align: center;
  margin-top: 97px;
}

.one_left_text {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

.left_text_span {
  font-style: italic;
}

.middle_one_right {
  width: 450px;
  /*border: 1px solid red;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subs_text_bold {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.one_right_subs {
  margin-top: 150px;
}

.subs_text {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.one_right_form {
  margin-top: 32px;
  /*для сведения вместе поля ввода"mail" + кнопка"Subscrib"*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-text-form {
  height: 49px;
  /*высота поля e-mail*/
  width: 250px;
  /*длинна поля e-mail*/
  border: hidden;
  /*скрыл рамку поля ввода*/
  background-color: #E1E1E1;
  border-radius: 25px 0 0 25px;
  /*чтоб справа не было радиуса = завязка на кнопку*/
  opacity: 0.7;
  /*стиль Placeholder*/
  font-size: 16px;
  padding-left: 22px;
  /*отступ для слова "Enter Your email" */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*не дает paddingам расширить поле ввода*/
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #010101;
}

.knopka_subs {
  /*красная кнопка "Subscribe" */
  border-radius: 0 25px 25px 0;
  width: 100px;
  border: hidden;
  background-color: #F16D7F;
  /* стиль слова "Subscribe" внутри кнопки */
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  /*смена цвета от навадения курсора на конпку*/
}

.knopka_subs:hover {
  background-color: #E05C6E;
}

.left_text_brand {
  font-size: 16px;
  height: 19px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_bottom_one {
  height: 80px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*центровка 'BrandAllRight..' от верха+слева*/
}

.bottom_one_left {
  margin-top: 30px;
  margin-left: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*центровка иконок от верха*/
}

.bottom_one_right {
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*отступы м/у иконками соц.сетей*/
}

.social_link {
  margin-left: 9px;
  /*курсор на Иконке соц.сети = смена фона в svg*/
}

.soc_link_hover:hover .red-1 {
  fill: #F16D7F;
}

.soc_link_hover:hover .white-1 {
  fill: #FFFFFF;
  /*Стиль для блоков в New_Arrivals*/
}

.reg_cart_one {
display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 150px;
  background-color: #F8F3F4;
}



.arrivals_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*убрать подчерк.ссылки + цвет текста*/
}

.arrivals_right_text {
  padding-left: 10px;
  margin-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.shop_cart_nolink {
  text-decoration: none;
  color: #636363;
  /*наведение на слово 'New Arrivals' = смена цвета*/
  /*убрать подчерк.ссылки + цвет текста*/
}

.shop_cart_nolink:hover {
  color: #F16D7F;
  font-size: 24px;
  line-height: 30px;
}

.right_text_nolink {
  text-decoration: none;
  color: #636363;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  /*наведение на слова 'Home/Men/New Arrivals' = смена цвета*/
}

.right_text_nolink:hover {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  text-shadow: 0 0 0.45px #F16D7F;
}


/*стиль слова Registration*/
.reg_text {
  font-size: 24px;
  line-height: 29px;
	color: #F16D7F;
}

/*SVG файл выровнял с уровнем слова FILTER*/
.filter_buter {
  margin-top: 3px;
}

.filter_text_nolink {
  text-decoration: none;
}

.arrow_vniz_all {
  margin-top: 8px;
}



/*блок между ТеткаНаСтуле и 3-мя_КарточкамиТовара*/
.product_all {
height: 610px;
}

/*Стили для ОбщегоБлока ЗаказаТовара*/
.reg_all {
	display: flex;
	/*justify-content:space-between;*/
}



.reg_cart {
	/* отступ вниз*/
	margin-bottom: 45px;
}





/*стиль для слова Your Name*/
.form_text {
margin-top: 20px;
margin-bottom: -20px;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #222222;

}

.yourname {
	
	 /*border: 1px solid #2431C5;*/
	margin-right: 125px;

}

/*стиль АДРЕСА ДОСТАВКИ*/
.input_text {
	width: 360px;
	height: 45px;
	margin-top: 20px;
	border: 1px solid #A4A4A4;
	
	/*стиль отступов для placeholder*/
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 20px;
}

/*стиль для КНОПКА ОТПРАВКИ join now->*/
form input[type=submit] {
    width: 167px;
    height: 50px;
	border: 1px solid #A4A4A4;
	background: #FFFFFF;
}


/*нажал ОТПРАВИТЬ = мигнул красным*/
form input[type=submit]:active {
	background: #F16D7F;
	color: #FFFFFF;
}

form input[type=submit]:hover {
    box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}
.submit_text {
	font-weight: 300;
	font-size: 11px;
	line-height: 13px;
	height: 13px;
	color: #4A4A4A;
	margin-bottom: 96px;
	}

.submit_p {
	box-sizing: border-box;
	text-align: center;
	padding-top: 20px;
}

/*Стиль кнопки PROCEED TO CHECKOUT */
.button_check {
	width: 273px;
	height: 50px;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;;
	background-color:#F16D7F;
}

.button_check:active {
	color: #222222;
	background-color:#F27A8A;
}
.button_check:hover {
	box-shadow: 1px 2px 5px 1px rgb(0 0 0 / 20%);
}


/*цетровка слова внутри кнопки*/
.box_text {
	padding: 18px 0 0 40px;
	box-sizing: border-box;
}

.cart_bottom {
	display: flex;
	justify-content: flex-start;
	margin-top: 235px;
	margin-bottom: 130px;
}



.yourname_text {
	width: 360px;
	
	margin-top: 16px;
	margin-bottom: 40px;
	
	font-weight: 300;
font-size: 13px;
line-height: 16px;
color: #B1B1B1;
}

/*отступ для блока с 2-мя радиокнопками*/
.two_check {
	margin-top: 30px;
}

.female {
	margin-left: 20px;
}

.male,
.female{
font-weight: 300;
font-size: 14px;
line-height: 14px;
color: #000000;	
}


/*центровка слова MALE - FEMALE посреди радиокнопки*/
.male-span{
	margin-left: 10px;
	vertical-align:text-top;
  box-sizing: border-box;
	
	font-weight: 300;
}
	
.female-span {
	margin-left: 10px;
	box-sizing: border-box;
	vertical-align:text-top;
}





/*для слова LOYALITY*/
.perks_titul {
	margin-top: 44px;
	font-weight: 300;
font-size: 24px;
line-height: 29px;
 color: #000000;
}

/*для Get on the ..*/
.perks_subtitul {
	margin-top: 22px;
	font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
}

/*стиль списка UL */
.perks_ul {
	margin-top: 22px;
	font-weight: 300;
font-size: 24px;
line-height: 29px;
color: #000000;
	list-style-type: none;
}

/*стиль радиокнопки левая*/
#male {
	width: 17px;
height: 17px;
left: 302px;
top: 467px;
border: 1px solid #A4A4A4;
}

/*радиокнопка правая Female*/
#female {
	width: 17px;
height: 17px;
left: 302px;
top: 467px;
border: 1px solid #A4A4A4;
}

/*галки svg перед словами*/
.perks_li::before {
	content: url("../img/galka.svg");
}
/*отступ м/у словами списка*/
.perks_li{
	margin-bottom: 16px;
}





/*отступ слова от галочки svg*/
.otstup {
	
	box-sizing: border-box;
	padding-left: 23px;
	
}
